In [1]:
import uproot3
import dask.dataframe as dd

In [2]:
events = uproot3.open("mvaTrees_flatPi0.root")["mergedPi0_SCTree"]

In [3]:
branches = ["phoEt","phoEta","phoPhi"]

In [4]:
pd_dataframe = events.pandas.df(branches)

In [5]:
photon_daskFrame = dd.from_pandas(pd_dataframe, npartitions=10)

In [6]:
photon_daskFrame

Dask DataFrame Structure:
                  phoEt   phoEta   phoPhi
npartitions=10
0               float64  float64  float64
672                 ...      ...      ...
...                 ...      ...      ...
6048                ...      ...      ...
6713                ...      ...      ...
Dask Name: from_pandas, 10 tasks

In [7]:
dfs=[]

In [8]:
from dask import delayed

In [9]:
dfs.append(delayed(pd_dataframe))

In [10]:
dfs

[Delayed('DataFrame-1f8c8f16-1a59-405d-ba8d-4ede071e8324')]

In [11]:
type(dfs)

list

In [12]:
dfs[0]

Delayed('DataFrame-1f8c8f16-1a59-405d-ba8d-4ede071e8324')

In [13]:
type(dfs[0])

dask.delayed.DelayedLeaf

In [14]:
daskframe = dd.from_delayed(dfs)

In [15]:
daskframe

Dask DataFrame Structure:
                 phoEt   phoEta   phoPhi
npartitions=1
               float64  float64  float64
                   ...      ...      ...
Dask Name: from-delayed, 2 tasks

In [17]:
daskframe.shape

(Delayed('int-1eeea4d3-bccf-4a1d-b572-06610f5aeecb'), 3)

In [18]:
ddf_final=daskframe.compute()

In [19]:
ddf_final.shape

(6714, 3)

In [20]:
ddf_final.head(10)

           phoEt    phoEta    phoPhi
entry
0       7.483557 -0.266011 -2.647597
1       4.799117  0.347738  0.489327
2       3.016750 -0.861483  1.996060
3       4.576744 -2.297349 -2.529293
4       3.767993  0.890022 -2.956455
5      14.353841 -1.475815 -0.549745
6      12.364908  1.468675  2.494169
7       9.231537 -1.366340  1.249507
8       6.977374  1.371888 -1.846761
9       3.294377  1.453918  3.046520